<div class="header-cover-image white-left-logo overlay">
   <div class="overlay"></div>
</div>
<div class="content container">
    <div class="info-container">
      <div class="info">
        <h3 class="title-layout">Discover My World</h3>
        <%= image_tag "portfolio.jpg", class: "avatar" %>
        <!-- <h2 class="avatar-h5">Project Specialist <i class="fa fa-code" aria-hidden="true"></i> Full Stack Developer</h2> -->
        <!-- <h5>Project Specialist / Full Stack Developer</h5> -->
      </div>
      <!-- <div class="scroll-down">
        <a rel="scrolling" href="#"><i class="fa fa-diamond fa-5x" aria-hidden="true"></i>
        </a>
      </div> -->
    </div>
</div>
<div class="section white">
  <div class="container">
    <!-- <h4 class="section-title">ABOUT</h4> -->
    <!-- <h4 class="section-subtitle">Ryan Jeff Brual, MBA, COBIT 5</h4> -->
    <h4 class="section-title">Ryan Jeff Brual, is a Full Stack Web Developer</h4>
    <p class="grey-text text-darken-3 lighten-3 alignment">
      Hi, Ciao, Hallo. Now you found me at my own personal website let me allow
      to introduce myself my name is <b>Ryan Jeff</b> and you can call me RJ so you can
      combine my name as one variable. so what is all about me? I am like a <b>method</b> that
      you can define. hmmmm.. it is like programming huh? but yes you are correct.<br /><br />
      Ok let's make it understandable. I have almost 9 years of IT experience, from being
      system engineer to leading a team on projects. I graduated with Bachelor degree in Computer
      Engineering and Master degree of Business Administration with the Diploma of IT Governance and ICT Management.
      It is sound's like <b>I love learning and improving myself</b> -but you are correct, I never stop learning until I reach
      my target goal and this coming July 2016 I will finish my 12 weeks intensive bootcamp of Full Stack Developer
      that focuse on <b>Ruby on Rails</b> both Front-End and Back-End. By the way I am 29 year's old, not quite old huh?
      and again you are correct I am not quite old, but bitting the target timeline of the calendar. ;) <br /><br />
      You was thinking why I have 9 years experience in IT, hmmp before I graduated <b>Bachelor's degree</b> one of the telecom
      company hired me as System Engineer because of my personality, I am just kidding -but yes because I perform well during
      my 3 months intership and they hired me, that was the story began.<br /><br />
      For the past year's I studied and gained experience for Network, Server, Architecture of Data Center and Solid Project Management and IT Service Management
      but since the technologies is evolving and my goal is to compete the other IT skills around the world I improve my knowledge and skills in programming
      to adopt the rapid changing environment technology in able to compete, and to complete my skills in reaching my top goal. Ups to much information.
      And now I am focusing on the <b>web development</b> both <b>back-end</b> and <b>front-end</b> with my <b>project management skills</b>
      and I treat as my own hobbies for my personal career goal. Now you can define me as a method and call my skills in one variable.
    </p>
    <h4 class="section-skills">Professional Skills</h4>
    <hr>
  <div class="row">
    <div class="col s4">
      <ul class="collection with-header">
        <li class="collection-header"><h6><b>Back End</strong></b></li>
        <li class="collection-item dismissable"><div><i class="fa fa-diamond" aria-hidden="true"></i> Ruby on Rails / Sinatra<a href="#!" class="secondary-content"><i class="material-icons">done</i></a></div></li>
        <li class="collection-item dismissable"><div><i class="fa fa-code" aria-hidden="true"></i> PHP<a href="#!" class="secondary-content"><i class="material-icons">done</i></a></div></li>
        <li class="collection-item dismissable"><div>Heroku<a href="#!" class="secondary-content"><i class="material-icons">done</i></a></div></li>
        <li class="collection-item dismissable"><div><i class="fa fa-database" aria-hidden="true"></i> SQLite | Postgre<a href="#!" class="secondary-content"><i class="material-icons">done</i></a></div></li>
      </ul>
    </div>
    <div class="col s4">
      <ul class="collection with-header">
        <li class="collection-header"><h6><b>Framework</strong></b></li>
        <li class="collection-item dismissable"><div><i class="fa fa-html5" aria-hidden="true"></i> HTML<a href="#!" class="secondary-content"><i class="material-icons">done</i></a></div></li>
        <li class="collection-item dismissable"><div><i class="fa fa-css3" aria-hidden="true"></i> SCSS / SAAS<a href="#!" class="secondary-content"><i class="material-icons">done</i></a></div></li>
        <li class="collection-item dismissable"><div><i class="fa fa-coffee" aria-hidden="true"></i> JavaScript<a href="#!" class="secondary-content"><i class="material-icons">done</i></a></div></li>
        <li class="collection-item dismissable"><div><i class="fa fa-bold" aria-hidden="true"></i> BootStrap<a href="#!" class="secondary-content"><i class="material-icons">done</i></a></div></li>
      </ul>
    </div>
    <div class="col s4">
      <ul class="collection with-header">
        <li class="collection-header"><h6><b>IDE & Management Tools</strong></b></li>
        <li class="collection-item dismissable"><div><i class="fa fa-info" aria-hidden="true"></i> C9 / Nitrous<a href="#!" class="secondary-content"><i class="material-icons">done</i></a></div></li>
        <li class="collection-item dismissable"><div><i class="fa fa-code" aria-hidden="true"></i> XCode<a href="#!" class="secondary-content"><i class="material-icons">done</i></a></div></li>
        <li class="collection-item dismissable"><div><i class="fa fa-github-alt" aria-hidden="true"></i> Atom (Electron)<a href="#!" class="secondary-content"><i class="material-icons">done</i></a></div></li>
        <li class="collection-item dismissable"><div><i class="fa fa-signal" aria-hidden="true"></i> MS Project / MS Excel<a href="#!" class="secondary-content"><i class="material-icons">done</i></a></div></li>
      </ul>
    </div>
    <div class="col s6">
      <ul class="collection with-header">
        <li class="collection-header"><h6><b>Network / Server</strong></b></li>
        <li class="collection-item dismissable"><div>Cisco Routing Switching<a href="#!" class="secondary-content"><i class="material-icons">done</i></a></div></li>
        <li class="collection-item dismissable"><div>Windows Server / Active Directory<a href="#!" class="secondary-content"><i class="material-icons">done</i></a></div></li>
        <li class="collection-item dismissable"><div>Data Center Architecture<a href="#!" class="secondary-content"><i class="material-icons">done</i></a></div></li>
        <li class="collection-item dismissable"><div>Cabling Infrastructure<a href="#!" class="secondary-content"><i class="material-icons">done</i></a></div></li>
      </ul>
    </div>
    <div class="col s6">
      <ul class="collection with-header">
        <li class="collection-header"><h6><b>Management</strong></b></li>
        <li class="collection-item dismissable"><div>Project Management / AGILE<a href="#!" class="secondary-content"><i class="material-icons">done</i></a></div></li>
        <li class="collection-item dismissable"><div>IT Service Management (ITILV3)<a href="#!" class="secondary-content"><i class="material-icons">done</i></a></div></li>
        <li class="collection-item dismissable"><div>COBIT 5<a href="#!" class="secondary-content"><i class="material-icons">done</i></a></div></li>
        <li class="collection-item dismissable"><div>Financial Management<a href="#!" class="secondary-content"><i class="material-icons">done</i></a></div></li>
      </ul>
    </div>
  </div>
    <hr>
    <div class="col s6">
      <div class="section white">
          <h4 class="section-skills">GitHub Repository</h4>
          <%= render "layouts/github" %>
      </div>
    </div>
    <hr>
  </div>
</div>
<div class="container">
  <h4 class="section-skills">My Sports</h4>
  <iframe width="853" height="320" src="https://www.youtube.com/embed/x76VEPXYaI0" frameborder="0" allowfullscreen></iframe>
</div>
