<div class="header-cover-image white-left-logo overlay">
   <div class="overlay"></div>
</div>
<div class="content container">
    <div class="info-container">
      <div class="info">
        <%= image_tag "portfolio.jpg", class: "avatar" %>
        <h2 class="avatar-h5">Project Specialist <i class="fa fa-code" aria-hidden="true"></i> Full Stack Developer</h2>
        <!-- <h5>Project Specialist / Full Stack Developer</h5> -->
      </div>
      <div class="scroll-down">
        <a rel="scrolling" href="#"><i class="fa fa-diamond fa-5x" aria-hidden="true"></i>
        </a>
      </div>
    </div>
</div>
<div class="section white">
  <div class="container">
    <h4 class="section-title">ABOUT</h4>
    <h4 class="section-subtitle">Ryan Jeff Brual, MBA, COBIT 5</h4>
    <h4 class="section-title">Full Stack Developer / PROJECT SPECIALIST</h4>
    <p class="grey-text text-darken-3 lighten-3 alignment">
      Highly self-motivated and organized professional that can provide
      innovative solutions to the company. I have almost 9 years of IT
      experience, from being a system engineer to leading a team on projects.
      Currently undertaking the Le Wagon Full Stack Development Bootcamp,
      actively searching for new opportunities in the field of web / software
      development.I offer a creative mind, a drive to solve problems, new ideas,
      and passion to work with brilliant minds.
    </p>
    <h4 class="section-skills">Professional Skills</h4>
    <hr>
  <div class="row">
    <div class="col s4">
      <ul class="collection with-header">
        <li class="collection-header"><h6><b>Back End</strong></b></li>
        <li class="collection-item dismissable"><div><i class="fa fa-diamond" aria-hidden="true"></i> Ruby on Rails<a href="#!" class="secondary-content"><i class="material-icons">done</i></a></div></li>
        <li class="collection-item dismissable"><div><i class="fa fa-diamond" aria-hidden="true"></i> Ruby Sinatra<a href="#!" class="secondary-content"><i class="material-icons">done</i></a></div></li>
        <li class="collection-item dismissable"><div>Heroku<a href="#!" class="secondary-content"><i class="material-icons">done</i></a></div></li>
        <li class="collection-item dismissable"><div><i class="fa fa-database" aria-hidden="true"></i> SQLite | Postgre<a href="#!" class="secondary-content"><i class="material-icons">done</i></a></div></li>
      </ul>
    </div>
    <div class="col s4">
      <ul class="collection with-header">
        <li class="collection-header"><h6><b>Framework</strong></b></li>
        <li class="collection-item dismissable"><div><i class="fa fa-html5" aria-hidden="true"></i> HTML<a href="#!" class="secondary-content"><i class="material-icons">done</i></a></div></li>
        <li class="collection-item dismissable"><div><i class="fa fa-css3" aria-hidden="true"></i> CSS<a href="#!" class="secondary-content"><i class="material-icons">done</i></a></div></li>
        <li class="collection-item dismissable"><div><i class="fa fa-coffee" aria-hidden="true"></i> JavaScript<a href="#!" class="secondary-content"><i class="material-icons">done</i></a></div></li>
        <li class="collection-item dismissable"><div><i class="fa fa-bold" aria-hidden="true"></i> BootStrap<a href="#!" class="secondary-content"><i class="material-icons">done</i></a></div></li>
      </ul>
    </div>
    <div class="col s4">
      <ul class="collection with-header">
        <li class="collection-header"><h6><b>IDE & Management Tools</strong></b></li>
        <li class="collection-item dismissable"><div><i class="fa fa-info" aria-hidden="true"></i> C9 / Nitrous<a href="#!" class="secondary-content"><i class="material-icons">done</i></a></div></li>
        <li class="collection-item dismissable"><div><i class="fa fa-code" aria-hidden="true"></i> XCode<a href="#!" class="secondary-content"><i class="material-icons">done</i></a></div></li>
        <li class="collection-item dismissable"><div><i class="fa fa-github-alt" aria-hidden="true"></i> Atom (Electron)<a href="#!" class="secondary-content"><i class="material-icons">done</i></a></div></li>
        <li class="collection-item dismissable"><div><i class="fa fa-signal" aria-hidden="true"></i> MS Project / MS Excel<a href="#!" class="secondary-content"><i class="material-icons">done</i></a></div></li>
      </ul>
    </div>
    <div class="col s6">
      <ul class="collection with-header">
        <li class="collection-header"><h6><b>Network / Server</strong></b></li>
        <li class="collection-item dismissable"><div>Cisco Routing Switching<a href="#!" class="secondary-content"><i class="material-icons">done</i></a></div></li>
        <li class="collection-item dismissable"><div>Windows Server / Active Directory<a href="#!" class="secondary-content"><i class="material-icons">done</i></a></div></li>
        <li class="collection-item dismissable"><div>Data Center Architecture<a href="#!" class="secondary-content"><i class="material-icons">done</i></a></div></li>
        <li class="collection-item dismissable"><div>Cabling Infrastructure<a href="#!" class="secondary-content"><i class="material-icons">done</i></a></div></li>
      </ul>
    </div>
    <div class="col s6">
      <ul class="collection with-header">
        <li class="collection-header"><h6><b>Management</strong></b></li>
        <li class="collection-item dismissable"><div>Project Management<a href="#!" class="secondary-content"><i class="material-icons">done</i></a></div></li>
        <li class="collection-item dismissable"><div>IT Service Management (ITILV3)<a href="#!" class="secondary-content"><i class="material-icons">done</i></a></div></li>
        <li class="collection-item dismissable"><div>COBIT 5<a href="#!" class="secondary-content"><i class="material-icons">done</i></a></div></li>
        <li class="collection-item dismissable"><div>Financial Management<a href="#!" class="secondary-content"><i class="material-icons">done</i></a></div></li>
      </ul>
    </div>
  </div>
    <hr>
  </div>
</div>
<div class="parallax-container">
  <div class="section white">
    <div class="container">
    <h4 class="section-skills">GitHub Repository</h4>
    <%= render "layouts/github" %>
  </div>
  <hr>
  <div class="container">
  <h4 class="section-skills">My Sports</h4>
    <iframe width="853" height="480" src="https://www.youtube.com/embed/x76VEPXYaI0" frameborder="0" allowfullscreen></iframe>
  </div>
  </div>
</div>
