<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <ul class="list-inline">
          <li><a href="https://nl.linkedin.com/in/ryanjeffbrual" target="_blank" class="grey-text text-lighten-3" href="#!"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></li>
          <li><a href="https://twitter.com/ryanjeffbrual" target="_blank" class="grey-text text-lighten-3" href="#!"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a></li>
          <li><a href="https://github.com/lrjbrual" target="_blank" class="grey-text text-lighten-3" href="#!"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 Ryan Jeff | Allrights reserved
  </div>
</footer>
