<div class="container">
  <div class="row">
    <div class="footer-layout col l6 s12">
      <ul>
        <li class="li-footer"><a href="https://nl.linkedin.com/in/ryanjeffbrual" target="_blank" class="grey-text text-lighten-3" href="#!"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></li>
        <li class="li-footer"><a href="https://twitter.com/ryanjeffbrual" target="_blank" class="grey-text text-lighten-3" href="#!"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a></li>
        <li class="li-footer"><a href="https://github.com/lrjbrual" target="_blank" class="grey-text text-lighten-3" href="#!"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
  &copy <%= Time.now %> <b>Ryan Jeff</b> | Allrights reserved
</div>
