<div class="github-layout container">
  <a href="http://github.com/lrjbrual" class="gh-contributions col-sm-offset-2" data-gh-username="lrjbrual" target="_blank">lrjbrual's contributions</a>
  <script src="http://ikuwow.github.io/yourcontributions/widget.min.js"></script>
</div>
